<footer class="bg-black-900">
    <div class="container">
        <p class="fs-8 text-black-500 text-center mb-0 py-3 py-xxl-4 fs-xxl-7">Coding Home © 2022 All Rights Reserved</p>
    </div>
</footer>