<footer class="bg-gray-dark">
    <div class="container">
        <p class="fs-8 text-gray text-center mb-0 py-3 py-xxl-4 fs-xxl-7 ff-azeret-mono">Coding Home © 2022 All Rights Reserved</p>
    </div>
</footer>