.card-teacher {
    &::after {
        position: absolute;
        content: '';
        bottom: -12px;
        left: 50%;
        border-width: 12px 12px 0 12px;
        border-color: $primary transparent transparent transparent;
        border-style: solid;
        transform: translateX(-50%);

        @include media-breakpoint-up(xxl) {
            bottom: 50%;
            left: 100%;
            border-width: 12px 0 12px 12px;
            border-color: transparent transparent transparent $primary;
            transform: translateY(-50%);
        }
    }
}

.regist {
    &-teacher {
        z-index: 1;
    }
    &-form {
        @include media-breakpoint-up(xxl) {
            margin-left: -48px;
        }
    }
}