.bg-banner {
  background-image: url("../images/bg_home_mobile.jpg");
  height: calc(100vh - 72px);
  
  @include media-breakpoint-up(xxl) {
    background-image: url("../images/bg_home.jpg");
  }
}

.square-box {
  width: 10px;
  height: 10px;
}

.icon {
  font-size: 50px;
}

.icon-lg {
  font-size: 80px;
}

.bg-info01 {
  background-image: url("../images/info01.jpg");
  height: 263px;
  @include media-breakpoint-up(xxl) {
    height: 615px;
  }
}

.bg-info02 {
  background-image: url("../images/info02.jpg");
  height: 263px;
  @include media-breakpoint-up(xxl) {
    height: 615px;
  }
}

.bg-info03 {
  background-image: url("../images/info03.jpg");
  height: 263px;
  @include media-breakpoint-up(xxl) {
    height: 615px;
  }
}

.bg-info04 {
  background-image: url("../images/info04.jpg");
  height: 263px;
  @include media-breakpoint-up(xxl) {
    height: 615px;
  }
}

.card-service {
  @include media-breakpoint-up(xxl) {
    opacity: 0.2;
  }
}

.card-border-secondary {
  @include media-breakpoint-up(xxl) {
    &:hover {
      border: 1px solid $secondary;
      opacity: 1;
    }
  }
}

.img-article {
  @include media-breakpoint-up(xxl) {
    height: 180px;
  }
}

.square-rounded {
  width: 32px;
  height: 32px;
  display: none;
  &-topLeft {
    border-top: 2px solid $secondary;
    border-left: 2px solid $secondary;
    border-top-left-radius: 10px;
  }
  &-topRight {
    border-top: 2px solid $secondary;
    border-right: 2px solid $secondary;
    border-top-right-radius: 10px;
  }
  &-bottomLeft {
    border-bottom: 2px solid $secondary;
    border-left: 2px solid $secondary;
    border-bottom-left-radius: 10px;
  }
  &-bottomRight {
    border-bottom: 2px solid $secondary;
    border-right: 2px solid $secondary;
    border-bottom-right-radius: 10px;
  }
}

.card-share {
  @include media-breakpoint-up(xxl) {
    &:hover {
      .square-rounded {
        display: block;
      }
    }
  }
}

.info {
  background-color: $dark;
  opacity: 0.9;

  &-line {
    background-color: $secondary;
    @include media-breakpoint-up(xxl) {
      background-color: $gray-500;
    }
  }

  &-icon {
    @include media-breakpoint-up(xxl) {
      color: $gray-500;
    }
  }
  
  @include media-breakpoint-up(xxl) {
    &:hover {
      background-color: transparent;
      opacity: 1;
      .info-icon {
        color: $secondary;
      }
      .info-line {
        background-color: $secondary;
      }
    }
  }
}

.bg-feedback {
    background-image: url("../images/bg_share.jpg");
    height: 733px;
}


.swiper {
  width: 100%;
  height: auto;
  @include media-breakpoint-up(xxl) {
    height: 429px;
  }

  &-img {
    width: calc(100% - 5px); // 定位往左 5px, 避免切到圖
    height: 213px;
    top: 0;
    left: 5px;

    @include media-breakpoint-up(xxl) {
      width: 60%;
      height: 381px;
      left: 10px;
    }
    

    img {
      width: 100%;
      height: 100%;
    }

    &::after {
      content: '';
      position: absolute;
      left: -5px;
      top: 5px;
      width: 100%;
      height: 100%;
      border: 1px solid #7C7E77;
      border-radius: 24px;
      z-index: -1;
      @include media-breakpoint-up(xxl) {
        left: -10px;
        top: 10px;
      }
    }
  }

  &-card {
    position: relative;
    border-radius: 24px 24px 24px 0;
    @include media-breakpoint-up(xxl) {
      width: 40%;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  &-student {
    width: 80px;
    height: 80px;
    @include media-breakpoint-up(xxl) {
      width: 100px;
      height: 100px;
    }
  }

  &-buttons {
    position: initial;
    transform: none;
    @include media-breakpoint-up(xxl) {
      position: absolute;
      bottom: 0;
      left: 30%;
    }
  }

  &-button-next:after, &-button-prev:after {
    content: '';
  }

  &-button-next, &-button-prev {
    position: unset;
    width: 24px;
    height: 24px;
  }

  &-pagination {
    position: unset;

    &-bullet {
      background-color: $secondary;
      &-active {
        width: 16px;
        border-radius: 100px;
      }
    }
  }
}