@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;700&family=Noto+Sans+TC:wght@400;700&display=swap');

// 全站樣式
body {
    font-family: 'Azeret Mono', monospace, "Noto Sans TC", "sans-serif";
}

img {
    object-fit: cover; // 防止圖片變形
}