.bg-black-900 {
    background-color: #1A1A1A;
}

.bg-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.text-black-500 {
    color: #909090;
}

.text-black-300 {
    color: #C1C1C1;
}

.text-gradient-primary {
    background: linear-gradient(180deg, $third, $secondary);
    /* 將背景裁切成只有文字部分 */
    background-clip: text;
     /* 因為 Chrome 還沒有很好的支援度，所以要加上 webkit 前綴 */
    -webkit-background-clip: text;
    color: transparent;
}

.bg-gradient-primary {
    background: linear-gradient(104deg, $third, $secondary);
}

.btn-gradient-primary {
    color: $white;
    background: linear-gradient(104deg, $third, $secondary);
    border: transparent;
    &:hover {
        color: white;
        opacity: 0.8;
    }
}

.btn-black {
    color: $white;
    background-color: transparent;
    &:hover {
        color: $secondary;
        border-color: $secondary !important;
    }
}

.rounded-4 {
    border-radius: 0.5rem; // 8px
}

.rounded-5 {
    border-radius: 0.75rem; // 12px
}

.rounded-6 {
    border-radius: 1.5rem; // 24px
}

.fs-xxl-fz3 {
    @include media-breakpoint-up(xxl) {
        font-size: $font-size-3 !important;
    }
}

.h6-xxl {
    @include media-breakpoint-up(xxl) {
        font-size: $h6-font-size;
    }
}

.fs-xxl-3 {
    @include media-breakpoint-up(xxl) {
        font-size: $h3-font-size !important;
    }
}

.fs-xxl-4 {
    @include media-breakpoint-up(xxl) {
        font-size: $h4-font-size !important;
    }
}

.fs-xxl-7 {
    @include media-breakpoint-up(xxl) {
        font-size: $h7-font-size !important;
    }
}

.overflow-x {
    overflow-x: auto;
}